name: Dependabot Auto-Merge
on: pull_request_target
permissions:
  contents: write
  pull-requests: write
jobs:
  automerge:
    uses: yushin0319/shared-workflows/.github/workflows/dependabot-automerge.yml@main
